<section id="login" class="p-4 flex flex-col justify-center min-h-screen max-w-md mx-auto">
    <div class="space-y-4 mb-10">
        <img src="https://rishtanata.ca/img/logo.png" loading="lazy" class="h-[80px]" alt="logo">
    </div>
    <form [formGroup]="form" (submit)="test()">
        <div class="mt-5" >
            <base-input 
                [label]="'Username/Email'" 
                [iconName]="'supervised_user_circle'" 
                [formControl_]="control['username']">
                [INPUT_TYPE]="TYPE.text"
            </base-input>
        </div>

        <div class="mt-5" >
            <base-input [label]="'Password'" [iconName]="'visibility'" [formControl_]="control['password']">
            </base-input>
        </div>

        <div class="text-right mt-2">
            <a [routerLink]="'/forgot-password'" class="text-sm font-semibold text-white hover:text-secondary cursor-pointer">Forgot Password?</a>
          </div>

        <div class="mt-5">
            <button class="px-4 py-1.5 w-1/2 rounded-md shadow-lg bg-gradient-to-r from-primary-100 to-primary-200 font-medium text-black block transition duration-300" >Register</button>
        </div>

        <p class="mt-8">Create an account? <a [routerLink]="'/sign-up'" class="text-white hover:text-secondary font-semibold">Please signup</a></p>
    </form>
</section>