<section id="signup" class="p-4 flex flex-col justify-center min-h-screen max-w-md mx-auto">
    <div class="space-y-4 mb-10">
        <img src="https://rishtanata.ca/img/logo.png" loading="lazy" class="h-[80px]" alt="logo">
    </div>
    <form [formGroup]="form" (submit)="test()">
        <div class="mt-5" >
            <base-input 
                [label]="'Full Name'" 
                [iconName]="'supervised_user_circle'" 
                [formControl_]="control['fullName']">
                [INPUT_TYPE]="TYPE.text"
            </base-input>
        </div>

        <div class="mt-5" >
            <p>Label</p>
            <mat-radio-group formControlName="gender">
                <mat-radio-button value="0" class="my-radio-button">Male</mat-radio-button> 
                <mat-radio-button value="1" class="my-radio-button">Female</mat-radio-button> 
            </mat-radio-group>
        </div>

        <div class="mt-5" >
            <base-input [label]="'Email'" [iconName]="'mail'" [formControl_]="control['email']">
            </base-input>
        </div>

        <div class="mt-5" >
            <base-input [label]="'Date of birth'"
                [iconName]="'date'" 
                [formControl_]="control['date']"
                [INPUT_TYPE]="TYPE.date" >
            </base-input>
        </div>
        <div class="mt-5" >
            <base-input [label]="'Contact Number'" [iconName]="'phone'" [formControl_]="control['contact']">
            </base-input>
        </div>

        <div class="mt-5">
            <button class="px-4 py-1.5 w-1/2 rounded-md shadow-lg bg-gradient-to-r from-primary-100 to-primary-200 font-medium text-black block transition duration-300" >Register</button>
        </div>

        <p class="mt-8">Have an Account? <a [routerLink]="'/'" class="text-white hover:text-secondary font-semibold">Please signin</a></p>
    </form>
</section>