<section id="login" class="p-4 flex flex-col justify-center min-h-screen max-w-md mx-auto">
    <div class="space-y-4 mb-10">
        <img src="https://rishtanata.ca/img/logo.png" loading="lazy" class="h-[80px]" alt="logo">
    </div>
    <form [formGroup]="form" (submit)="test()">
        <div class="mt-5" >
            <base-input [label]="'Username/Email'" [iconName]="'mail'" [formControl_]="control['mail']">
            </base-input>
        </div>
        <div class="mt-5">
            <button class="px-4 py-1.5 w-1/2 rounded-md shadow-lg bg-gradient-to-r from-primary-100 to-primary-200 font-medium text-black block transition duration-300" >Send Mail</button>
        </div>
    </form>
</section>