// General colors
/****** SUCCESS ******/
$success: #b7d8b7;
/****** ERROR ******/
$error: #f8b7bd;
/****** WARNING ******/
$warn: #ffe399;
/****** BALCK ******/
$black: #212121;
/****** BLUE THEME ******/
$blueTheme: #027299;
/****** BLACK THEME ******/
$blackTheme: #000000;
/****** WHITE COLOR ******/
$white: #FFFFFF;

$blackOpacity: #00000044;
:root {
    --color-secondary: #ecc94b;
    --primary-100:#27a79a;
    --primary-200:#097066;
    --primary-300:#09403a;
    --secondary:#F08080;
 }