// @use "@angular/material" as mat;
// @import "assets/css/variables.scss";
// @import "assets/css/function.scss";
// @import "~@swimlane/ngx-datatable/themes/material.css";
// @import "~@swimlane/ngx-datatable/assets/icons.css";
// // @import '../node_modules/@ctrl/ngx-emoji-mart/picker';
// @import "@angular/material/theming";
// @include mat.core();

// $custom-primary-pallete: (
//   50: #e3f2fd,
//   100: #bbdefb,
//   200: #90caf9,
//   300: #64b5f6,
//   400: #42a5f5,
//   500: #3366ff,
//   600: #1e88e5,
//   700: #1976d2,
//   800: #1565c0,
//   900: #0d47a1,
//   A100: #82b1ff,
//   A200: #448aff,
//   A400: #2979ff,
//   A700: #2962ff,
//   contrast: (
//     50: $dark-primary-text,
//     100: $dark-primary-text,
//     200: $dark-primary-text,
//     300: $dark-primary-text,
//     400: $dark-primary-text,
//     500: $light-primary-text,
//     600: $light-primary-text,
//     700: $light-primary-text,
//     800: $light-primary-text,
//     900: $light-primary-text,
//     A100: $dark-primary-text,
//     A200: $light-primary-text,
//     A400: $light-primary-text,
//     A700: $light-primary-text,
//   )
// ); 
// $angular-primary: mat.define-palette($custom-primary-pallete, 500, 100, 900);
// $angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $angular-warn: mat.define-palette(mat.$red-palette);

// $angular-default-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $angular-primary,
//       accent: $angular-accent,
//       warn: $angular-warn,
//     ),
//   )
// );

// $fleet-dark-primary: $angular-primary;
// $fleet-dark-accent:  mat-palette($mat-amber, 900);
// $fleet-dark-warn:    mat-palette($mat-deep-orange);
// $background-color: #151a31;
// $background-items-color: #222b45;

// $fleet-dark-theme:   mat.define-dark-theme(
//   (
//     color: (
//       primary: $fleet-dark-primary,
//       accent: $fleet-dark-accent,
//       warn: $fleet-dark-warn,
//     )
//   )
// );
// $theme-color: map-get($fleet-dark-theme, color);
// $color-background-palette: map-get($theme-color, background);
// $color-background-palette: map-merge($color-background-palette, (background: $background-color));
// $color-background-palette: map-merge($color-background-palette, (card: $background-items-color));
// $color-background-palette: map-merge($color-background-palette, (dialog: $background-items-color));
// $color-background-palette: map-merge($color-background-palette, (app-bar: $background-items-color));
// $color-background-palette: map-merge($color-background-palette, (raised-button: $background-color));

// // Replace the background in the background palette.
// $background-palette: map-get($fleet-dark-theme, background);
// $background-palette: map-merge($background-palette, (background: $background-color));
// $background-palette: map-merge($background-palette, (raised-button: $background-color));

// // Merge the changes into a new theme.
// $modified-theme-color: map-merge($theme-color, (background: $color-background-palette));
// $modified-theme: map-merge($fleet-dark-theme, (color: $modified-theme-color));
// $modified-theme: map-merge($modified-theme, (background: $background-palette));

// @debug '--------------';
// @debug $fleet-dark-theme;


// @include angular-material-theme($modified-theme);
// @include mat.all-component-themes($modified-theme);
// // @include mat.all-component-themes($angular-default-theme);
// html,
// body {
//   height: 100%;
//   height: 100% !important;
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   // background: #151927b7 !important;
// }

// mat-sidenav-container {
//   height: calc(100% - 65px);
// }

// /*
// SNACKBAR
// */
// $snackbarAction:
//   "success" $success,
//   "error" $error,
//   "warn" $warn;

// @each $name, $backgroudColor in $snackbarAction {
//   @include snackbar ($name, $backgroudColor, $black);
// }

// @include closesnackbarbutton;

// .dz-message {
//   height: 200px;
// }

// @include table100;
@tailwind base;
@tailwind components;
@tailwind utilities;

  @import "assets/css/variables.scss";

.table-container {
  width: 96% !important;
  margin-left: 1% !important;
}

mat-toolbar{
  box-shadow: 0 0.5rem 1rem 0 #1a1f33
}

// drop zone 
dropzone  {
  .dropzone.dz-wrapper{
    height: 100%;
  }
  .dropzone.dz-wrapper .dz-message{
    background: #3b4159!important;
    height: calc(100% - 16px)!important;
  }
  .dz-text{
    color: white  !important;
  }
}
.table-body-container {
  overflow-x: auto;
  width: 100%;

  table{
    max-width: 100%;
    overflow: auto;
  }
}
th {
  font-weight: bold!important;
}
mat-dialog-container {
  max-height: 95vh!important;
  overflow-y: auto;
}
input:focus::placeholder { 
  color: white;
  opacity: 0.5; 
}
.table-body-container{
  max-height: calc(100vh - 16em);
}

.ps .ps__rail-y:hover, .ps.ps--scrolling-y>.ps__rail-y{
  background-color: #222b45!important;
}


.grid {
  display: grid;
}

@for $i from 1 to 12 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}
.side-navigation .active-link mat-icon.submenu-icon {
  color: white!important;
}

.bold {
  font-weight: 700;
}

// white login
.img
  {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

