<div class="relative">
    <input 
    [ngClass]="{
        'px-4 py-2 border rounded-full outline-none w-full bg-transparent  placeholder-black':INPUT_TYPE!=TYPE.radio,
        styleRadio:INPUT_TYPE==TYPE.radio
        }" 
        [type]="INPUT_TYPE"
        [value]="radioValue"
        [formControl]="formControl_" 
        [attr.placeholder]="label"
    />
    <ng-container *ngIf="INPUT_TYPE!=TYPE.radio">
        <div class="absolute inset-y-0 right-0 pr-3  
        flex items-center  
        pointer-events-none">
            <mat-icon>{{iconName}}</mat-icon>
        </div>
    </ng-container>
</div>

<!-- 
<div class="flex items-center mb-4">
    <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
</div> -->